
machine_config = {
  ssh_user     = "root"
  machines     = ["1.2.3.4", "2.3.4.5", "3.4.5.6"]
  ssh_key_path = "~/.ssh/id_rsa"
}

rancher_config = {
  api_url    = "https://localhost:9443"
  access_key = "xxx"
  secret_key = "xxx"
  insecure   = true
}
